@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

#navbar{
    box-shadow: 10px 10px 10px 10px #595656;
    background-color: rgb(26, 29, 32) !important;
}

.btn-link .bi{
    font-size: 25px;
}